<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pomelo{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
    <div class="frame">
        <div class="navbar">
        </div>
        <div class="page">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>
